@font-face {
   font-family: 'THSarabun Bold Italic';
   src: url('THSarabun Bold Italic/font.ttf');
}
@font-face {
   font-family: 'THSarabun Bold';
   src: url('THSarabun Bold/font.ttf');
}
@font-face {
   font-family: 'THSarabun';
   src: url('THSarabun/font.ttf');
}
